@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Orbitron', Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}


#game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 900px;
}


.box {
    border: 1px solid black;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.5rem 0.5rem;
    transition: transform 0.3s ease;
    background-image: url("images/cover2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}


.box.flipped {
    background-size: cover;
    background-position: center;
    background-color: white;
}


.box:hover {
    transform: scale(1.05);
}

#win-message h1 {
    margin: 0 0 1rem 0;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    color: rgb(150, 116, 22);
}

#win-message button {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #c7bbbb;
    color: rgb(150, 116, 22);
    justify-content: center;
    align-items: center;
}

#win-message button:hover {
    background-color: rgb(0, 0, 0);
}



.root-container {
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    min-height: 100vh;
}

.root-header {
    display: flex;
    flex-direction: column;
    padding: 0; /* Remove any extra padding */
    background-color: rgb(0, 0, 0);
    width: 100%;
    box-sizing: border-box;
}

.header-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    flex: 1 1 150px;
    min-width: 150px;
    max-width: 250px;
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

.nav-links-left {
    display: flex;
    gap: 15px;
    margin: 0 auto;
    color: #e9e9e9;
}

.nav-links-right {
    display: flex;
    gap: 15px;
    margin-left: auto;
    color: #e9e9e9;
    margin-right: 50px;
    
}

.nav-links-left a,
.nav-links-right a {
    color: #e9e9e9;
    text-decoration: none; /* removes underline */
}

.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: #e9e9e9;
    width: 100%;
    box-sizing: border-box;
}

.search-bar {
    display: flex; /* Align input and button horizontally */
    align-items: center;
    gap: 5px; /* Add space between input and button */
}

.search-bar input[type="text"] {
    max-width: 200px;
    width: 100%;
    padding: 5px; /* Optional: add padding for better alignment */
}

.search-bar button {
    padding: 5px 10px; /* Adjust padding for button alignment */
}

.root-content {
    flex-grow: 1;
    overflow-y: auto;
    
}

.root-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid black;
    /*flex-basis: 22%;*/
    color: #e9e9e9;
    text-decoration: none;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-links {
    display: flex;
    gap: 10px;
    margin-right: 150px;
}

.footer-links a {
    color: #e9e9e9;
    text-decoration: none;
    margin-left: 50px;
}